<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444053017248-u6go1h7mqr08f1iqj6fq5rturb73m7c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444053017248-u6go1h7mqr08f1iqj6fq5rturb73m7c2</string>
	<key>API_KEY</key>
	<string>AIzaSyAA9uCQ4J6YZq_rtUIzzxKgzhrxQp4SXy8</string>
	<key>GCM_SENDER_ID</key>
	<string>444053017248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>henrybenso.BrewBuddy</string>
	<key>PROJECT_ID</key>
	<string>saph-brewbuddy</string>
	<key>STORAGE_BUCKET</key>
	<string>saph-brewbuddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444053017248:ios:a2bad70b4ca282b3576fc5</string>
</dict>
</plist>